body {
    padding-top: 70px;
    color: navy;
    background-image: url("../content/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


h4 {
    text-shadow: 2px 2px #f4aa42;
}

.jumbotron {
    background-image: url("../content/banner.png");
     background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}