body {
    padding-top: 70px;
    color: #000000;
    background-image: url("../content/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-shadow: 1px 1px #458dd1;
    font-weight: bold;
}

a {
    color: #ffffff;
    text-shadow: #000000;
}

.jumbotron {
    background-image: url("../content/banner.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    width: 100%;
}
.panel-heading {
    background-color: #3476af;
    border: 3px #4084b2;
    border-style: inset;
}
.panel-body {
    background-color: #3476af;
    border: 3px #4084b2;
    border-style: inset;
    white-space: normal;
    word-break: break-all;  
    word-wrap: break-word; 
}
.panel {
    background-color: #57665f;
    margin: 15px 15px 15px 15px 15px;
    padding: 15px 15px 15px 15px;
}